<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <p>Welcome to <%= title %></p>
    <form method="GET" class="f1">
        <h1>LOGIN FORM</h1>
        <label>USERNAME :</label>
       <input type="email" name="email" placeholder="Enter Email"><br><br>
       <label>PASSWORD :</label>
       <input type="password" name="Password" placeholder="Enter Password"><br><br>
        <input type="submit" class="btn">
    </form>
   
  </body>
</html>
