<form method="post" >
    name:<input type="text" value="{{editdata.user_name}}" name="text1">
     Mobile:<input type="number" value="{{editdata.user_mobile}}" name="text2">
     <input type="submit" value="Edit">
</form>
