<html>
    <head>
         <script type="text/javascript" src="../jquery.js"></script>
        <script type="text/javascript" src="../validate.js"></script>
        <script type="text/javascript" src="../form.js"></script>
    </head>
<body>
    <a href="signup">Signup</a>  |
    <a href="login">Login</a>   |
    {{!-- <a href="home">Home</a>  | --}}
    <a href="usersList">Users List</a>  
    <form method="post" id="loginForm">
        <h1>Login</h1>
        <table>      
            <tr>
                <td>Email</td>
                <td><input type="text" placeholder="Enter Email" id="email" name="email" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" placeholder="Enter Password" id="password" name="password" required></td>
            </tr>

             
            <tr>
                <td><input type="submit" id="loginSubmit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
        <a href="/signup">Create an Account?</a>
    </form>
</body>

</html>
