                <form method="post">
                <label for="inputName">Category Name</label>
                <input type="text" id="inputName" name="category_name">
              </div>
             
             <div>
              <div>
                <button type="submit">Add Category</button>
              </div>
            </div>
              </form>