<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="demo0"><b>Navigation bar in Express Js</b></div>
    <div class="div1">
        <a href="http://127.0.0.1:3000" class="hov">Home</a>
      <a href="./about" class="hov">About Me</a>
      <a href="./education" class="hov">Education</a>
      <a href="./contact" class="hov">Contact Us</a>
</div>
<div>
    <ul>
        <li>
            I am Aman Rathod and I belongs to Dhar MP.
        </li>
        <li>
            I have Knowledge About to Oops , C , Java , Html-5 , Css-3 , Sql , Angular-6
        </li>
        <li>
            I Have Done Internship 2 Months On Angular-6  From Elite TechSoft Indore MP.
        </li>
        <li>
            My Minor Project I have developed on Java and html , css helps.
        </li>
        <li>
            My project Name is Online Blood Donor Information System.
        </li>
        <li>I am a Self Motivated person .</li>
        <li>Expertise in Oops Concept and Java Technology more about to me.</li>
        <li>In free Time Listening to music and Indore Games.</li>
        <li>That's All About to me.</li>
    </ul>
</div>
  </body>
</html>
