<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div class="demo0"><b>Navigation bar in Express Js</b></div>
	<div class="div1">
        <a href="http://127.0.0.1:3000" class="hov">Home</a>
      <a href="./about" class="hov">About Me</a>
      <a href="./education" class="hov">Education</a>
      <a href="./contact" class="hov">Contact Us</a>
</div>
        <img src="http://127.0.0.1:3000/images/contactus.jpg "style="margin-left: 70%; width: 250px; padding-top: 30px;">
          <form  style="padding-left: 70%;">
         <h1><b>Address:</b></h1>
        <b> Aman Rathod</b><br>
         Near Futi Masjid Chhatripura Dhar Mp.<br>
         Pin: 454001<br>
         Phone: 95759 31593<br>
         Email: aman.r@webcodegenie.com<br>
           
        </form>
       <div style="margin-top: -25%;">
            <img src="http://127.0.0.1:3000/images/contact.png" style="margin-top: 30px; margin-left: 10%; width: 15%; height: 0%;">
        <form method="post" style="margin-left: 10%; margin-top: 0%">	
           
          <label>Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" class="txt" name="unm" >
            <br>
            <br>
            <label>Email:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="email" class="txt" name="email">
            <br>
            <br>
            <label>Mobile No:</label>&nbsp;&nbsp;&nbsp;
            <input type="text" class="txt" name="mob">
            <br>
            <br>
            <label> Subject:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" class="txt" name="sub" style="width: 15%; height: 150px;">
            <br>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" class="txt" name="submit" value="Send Us" style="padding: 12px; border: none; background-color: red; color: white;">
         </form>
        </div>
        <div class="d1">

          <a href="https://www.instagram.com/i_am_aman197/"><img src="http://127.0.0.1:3000/images/insta.jpg" width="50px" height="50px"></a>
          <a href="https://touch.facebook.com/profile.php"><img src="http://127.0.0.1:3000/images/fb.jpg"  width="80px" height="55 	px"></a>
          <a href="https://mail.google.com/mail/u/0/?tab=km#inbox?compose=new"><img src="http://127.0.0.1:3000/images/gmail.png" width="70px" height="45px"></a>
          <a href="https://github.com/rathodaman"><img src="http://127.0.0.1:3000/images/git.png" width="100px" height="46px"></a>
          <a href="https://www.linkedin.com/in/aman-rathod-51314217b/"><img src="http://127.0.0.1:3000/images/linkdin.png" width="50px" height="50px"></a>
          
          </div>
          <div class="d2">
              aman.r@webcodegenie.com
          </div>
  </body>
</html>
