<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div class="demo0"><b>Navigation bar in Express Js</b></div>
	<div class="div1">
        <a href="http://127.0.0.1:3000" class="hov">Home</a>
        <a href="./about" class="hov">About Me</a>
        <a href="./education" class="hov">Education</a>
        <a href="./contact" class="hov">Contact Us</a>
</div>
<table border="1px" cellpadding="20px" cellspacing="0px" class="cl">
<!-- 	<tr>
		<th>Acadmic</th>
	</tr> -->
	<tr>
		<th>Degree</th>
		<th>School/College</th>
		<th>Grade</th>
		<th>Percentage</th>
		<th>Passing Year</th>
	</tr>
	<tr>
		<td>BE(IT)</td>
		<td>SD Bansal College Of Technology Indore MP</td>
		<td>A</td>
		<td>67.71</td>
		<td>2020</td>
	</tr>
	<tr>
		<td>HSC</td>
		<td>School Of Excellence No.1 Dhar Mp</td>
		<td>A</td>
		<td>66.66</td>
		<td>2016</td>
	</tr>
	<tr>
		<td>SSC</td>
		<td>School Of Excellence No.1 Dhar Mp</td>
		<td>A+</td>
		<td>75.16</td>
		<td>2014</td>
	</tr>
</table>
  </body>
</html>
