<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="demo0"><b>Navigation bar in Express Js</b></div>
    <div class="div1">
      <a href="http://127.0.0.1:3000" class="hov">Home</a>
      <a href="./about" class="hov">About Me</a>
      <a href="./education" class="hov">Education</a>
      <a href="./contact" class="hov">Contact Us</a>
    </div>
    <div class="div2">
      <b style="padding-left: 25%; font-size: 250%;">Aman Rathod</b><br>
      <blockquote style="font-size: 23px;">"Confidence is the Best Buddy of Success So Always Give Never Up."</blockquot>
    </div>
    <div class="d1">
    
    <a href="https://www.instagram.com/i_am_aman197/"><img src="http://127.0.0.1:3000/images/insta.jpg" width="50px" height="50px"></a>
    <a href="https://touch.facebook.com/profile.php"><img src="http://127.0.0.1:3000/images/fb.jpg"  width="80px" height="55 	px"></a>
    <a href="https://mail.google.com/mail/u/0/?tab=km#inbox?compose=new"><img src="http://127.0.0.1:3000/images/gmail.png" width="70px" height="45px"></a>
    <a href="https://github.com/rathodaman"><img src="http://127.0.0.1:3000/images/git.png" width="100px" height="46px"></a>
    <a href="https://www.linkedin.com/in/aman-rathod-51314217b/"><img src="http://127.0.0.1:3000/images/linkdin.png" width="50px" height="50px"></a>
    
    </div>
    <div class="d2">
        aman.r@webcodegenie.com
    </div>
  </body>
</html>
