<html>
<body>
<form method="post" >
    <table>
        <h1>Update State</h1>
        <tr>
            <td>State Name : </td>
            <td><input type="text" name="state_name"
                value="{{category_array.state_name}}" required> </td>
        </tr>
        
        <tr>
                <td> <input type="submit">
                  <input type="button" value="Display" 
                  onclick="window.location='display';"> </td>
        </tr>
    </table>
</form>
</body>
</html>