<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <p>Welcome to <%= title %></p>
    <form method="post" class="f1"  >
        <h1>Addition</h1>
        <label>No 1 :</label>
       <input type="text" name="no1" placeholder="Enter First No"><br><br>
       <label>No 2 :</label>
       <input type="text" name="no2" placeholder="Enter Second No"><br><br>
        <input type="submit" class="btn">
    </form>
  </body>
</html>
