<!DOCTYPE html>
<html>
  <head>
    <title>login page</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" class="f1" action="formdata">
        <h1>LOGIN FORM</h1>
        <label>USERNAME :</label>
       <input type="text" placeholder="Enter Email" name="username"><br><br>
       <label>PASSWORD :</label>
       <input type="password" placeholder="Enter Password" name="pass"><br><br>
        <input type="submit" class="btn">
    </form>
  </body>
</html>