<a href="addCategory">addCategory</a>
<a href="displayCategory">displayCategory</a>
<a href="addProduct">addProduct</a>
<a href="displayProduct">displayProduct</a>
<form method="post">
     <h1>Add Category</h1>
    <label>Category Name:</label>
    <input type="text" name="category"><br><br><br>
    <input type="submit" value="Add Category">
</form>