<a href="addCategory">addCategory</a>
<a href="displayCategory">displayCategory</a>
<a href="addProduct">addProduct</a>
<a href="displayProduct">displayProduct</a>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
