<html>
    <body>
        <a href="display">Display</a>
        <form method="post">
            Name:<input type="text" value="{{editdata.user_name}}" name="text">
            Mobile:<input type="number" value="{{editdata.user_mobile}}" name="mob">
            <input type="submit" value="Update">
        </form>
    </body>
</html>