<html>
    <body>
        <a href="display">Display</a>
        <form method="post">
            Username:<input type="text" name="name"><br><br>
            Password:<input type="password" name="pass"><br><br>
            <input type="submit">
        </form>
    </body>
</html>