<a href="add-form">Add Record</a> |
<a href="display-user">Show Record</a> |
<a href="category/add">Add Category</a> |
<a href="category/display">Show Category</a> |
<a href="subcategory/add">Add SubCategory</a> |
<a href="subcategory/display">Show SubCategory</a> 

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
