<h1> Home Page Welcome</h1>
 <h1>Hi,{{data.user_name}}</h1>
 <a href="/contact">Contact</a> ||
 <a href="/about">About</a> ||
 <a href="/logout">Logout</a> </h1>
<h3>{{data.user_name}} Your Details is:- </h3>{{data}}
