<html>
<body>
    <a href="signup">Signup</a>  |
    <a href="login">Login</a>   |
    <a href="home">Home</a>  |
    <a href="display-table">Display Table</a>  
    <form method="post" action="form-process">
        <h1>Login</h1>
        <table>      
            <tr>
                <td>Email</td>
                <td><input type="text" placeholder="Enter Email" name="user_email" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" placeholder="Enter Password" name="user_password" required></td>
            </tr>

             
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
        <a href="/signup">Create an Account?</a>
    </form>
</body>

</html>