<html>
<body>
   <a href="add-form">Add Record</a> |
<a href="display-user">Show Record</a> |
<a href="/category/add">Add Category</a> |
<a href="/category/display">Show Category</a> |
<a href="/subcategory/add">Add SubCategory</a> |
<a href="/subcategory/display">Show SubCategory</a> 
    <form method="post">
        <h1>Add Category</h1>
        <table>
            <tr>
                <td>Name:</td>
                <td> <input type="text" placeholder="Enter Category" name="category_name"></td>
            </tr>
           
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
    </form>
</body>
</html>