
<html>
    <body>
        <h1>Admin Details</h1>
                <a href="display">Admin Display</a>|
        <a href="add">Admin Add</a><br><br>
        <form method="post">
            AdminName: <input type="text" name="name"><br><br>
            AdminEmail: <input type="email" name="email"><br><br>
            AdminPassword: <input type="password" name="pass"><br><br>
            <input type="submit">
        </form>
    </body>
</html>