<html>
    <body>
        <h1>Admin Details Update</h1>
                <a href="display">Admin Display</a>|
        <a href="add">Admin Add</a><br><br>
        <form method="post">
            AdminName: <input type="text" value="{{editdata.admin_name}}" name="name"><br><br>
            AdminEmail: <input type="email" value="{{editdata.admin_email}}" name="email"><br><br>
            AdminPassword: <input type="password" value="{{editdata.admin_pass}}" name="pass"><br><br>
            <input type="submit">
        </form>
    </body>
</html>