<html>
    <body>
        <a href="display">Display</a>
        <form method="post" action="form-process">
            Name:<input type="text" name="text">
            Mobile:<input type="number" name="mob">
            <input type="submit">
        </form>
    </body>
</html>