<html>
    <body>
        <form method="post" action="/login-process">
            Name : <input type="text" name="txt1"/>
            <input type="submit"/>
        </form>
    </body>
</html>