<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <title>{{title}}</title>
</head>

<body>
    {{{body}}}
  
  {{#if flash.message}}
      {{{flashMe flash}}}
  {{/if}}
</body>

</html>