<html>
    <head>

    </head>
    <body>
        <form method="post">
            <input type="text" name="name" placeholder="enter name"><br><br>
            <input type="text" name="address" placeholder="enter address"><br><br>
            <input type="number" name="mobile" placeholder="enter mobile no"><br><br>
            <input type="submit">
        </form>
    </body>
</html>