<html>
    <body>
        <form method="post">
            Name:<input type="text" value="{{editdata.user_name}}" name="text1"><br><br>
            Mobile:<input type="text" value="{{editdata.user_mobile}}" name="text2"><br><br>
        <input type="submit" value="Update">
        </form> 
    </body>
</html>