<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <script src="../jquery.js"></script>
    <script src="../bootstrap.js"></script>
   
</head>
<body>
    <section class=" gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5"><b>Registration Form</b></h3>
            <form method="post" id="signupForm" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="fname" class="form-control form-control-lg" name="fname" placeholder="First Name"/>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="lname" class="form-control form-control-lg" name="lname"placeholder="Last Name"/>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                   <select class="select form-control-lg" name="interest" id="interest">
                    <option value="Choose option" selected disabled>Choose option</option>
                    <option value="Singing">Singing</option>
                    <option value="Dancing">Dancing</option>
                    <option value="Sleep">Sleep</option>
                    <option value="Indoor Games">Indoor Games</option>
                    <option value="Outdoor Games">Outdoor Games</option>
                  </select>
                  <label class="form-label select-label">Choose interest Area</label>
                  </div>

                </div>
                 <div class="col-md-6 mb-4">
                  <h6 class="mb-2 pb-1">Gender: </h6>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="gender" value="female"/>
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="gender" value="male"/>
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="gender" value="option3" />
                    <label class="form-check-label" for="otherGender">Other</label>
                  </div>
                </div>
              </div>

                <div class="row col-12">
                    <label>Hobbies: - </label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Node Js" id="hobby" name="hobby">
                        <label class="form-check-label" for="flexCheckChecked">Node Js</label>
                    </div>&nbsp;&nbsp;
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="MongoDB" id="hobby" name="hobby2">
                        <label class="form-check-label" for="flexCheckChecked">MongoDB</label>
                    </div>&nbsp;&nbsp;
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Express" id="hobby" name="hobby3">
                        <label class="form-check-label" for="flexCheckChecked">Express</label>
                    </div>&nbsp;&nbsp;
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Angular" id="hobby" name="hobby4">
                        <label class="form-check-label" for="flexCheckChecked">Angular</label>
                    </div>
                    <div id="result"></div>
                </div>

                <div class="row align-items-center py-3">
                    <div class="col-md-3 ps-5">
                        <h6 class="mb-0">Address : -</h6>
                    </div>
                    <div class="col-md-9 pe-5">
                        <textarea class="form-control" rows="3" placeholder="Enter Address" id="address" name="address"></textarea>
                    </div>
                </div>

                <div class="row align-items-center py-3">
                    <div class="col-md-3 ps-5">
                        <h6 class="mb-0">Upload Image</h6>
                    </div>
                    <div class="col-md-9 pe-5">
                        <input class=" form-control-lg" id="formFileLg" type="file" id="image" name="image"/>
                    </div>
                </div>

              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" id="submit"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 <script src="../validate.js"></script>
  <script>
            $("document").ready(function(){
               		// validate signup form on keyup and submit
                $("#signupForm").validate({  
                  rules: {
                    fname: {
                                required :true,
                                minlength:3
                            },
                    lname: "required",
                    interest: {
                      required: true
                    },
                    gender: {
                      required: true,
                      //if($('input[type=radio][name=gender]:checked').length == 0)
                    },
                    hobby: {
                      required: true,
                    },
                    address: {
                      required: true,
                      minlength: 10,
                      maxlength: 150
                    },
                    image:{
                        required: true
                    }
                    
                  },
                  messages: {
                    fname:{
                            required: "Please enter your firstname",
                            minlength: "Your firstname must consist of at least 3 characters"
                          },
                    lname: "Please enter your lastname",
                    interest: "Please choose your interest",
                    gender: "select Gender",
                    hobby: "Please select at least one hobby",
                    address: {
                      required: "Please Enter Address Details",
                      minlength: "Address must be at least 10 char long",
                      maxlength: "Address must be at least 150 char long",
                    },
                    image:{
                          required : "Select Your Image"
                        }      
                  },
                   submitHandler: function() {
                     let data = new FormData($("#signupForm")[0]);
                     console.log(data+"calling from")
                      $.ajax({
                        url:'/form',
                        enctype: "multipart/form-data",
                        contentType: false,
                        processData: false,
                        cache: false,
                        async: false,
                        type: 'POST',
                        data: data,
                        success: function(signupForm,status){
                          alert(signupForm);
                        }
                      })
                    }
                });
            });
  </script>
</body>
</html>