<table border='1'>
    <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Address</th>
    </tr>
    {{#each mydata.data}}
    <tr>
        <td>{{name}}</td>
        <td>{{mobile}}</td>
        <td>{{address}}</td>
    </tr>
   {{/each}}
</table>