<html>
<body>
<form method="post" >
         <h1>Update Country</h1>
        <table>
            <tr>
                <td>Country Name</td>
                <td> <input type="text" value="{{user_array.country_name}}" placeholder="Enter Country Name" name="country_name"></td>
            </tr>
           
            <tr>
                <td>Countries</td>
                <td><select class="form-control" name="countries" value="{{user_array.countries}}">
                            {{#each user_array}}
                       <option value="{{_id}}">{{country_name}}</option>
                        {{/each}}
                    </select></td>
            </tr>
            <tr>
                <td><input type="submit" value="Update"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
</form>
</body>
</html>