
<html>
    <body>
        <a href="display">User Display</a>|
        <a href="/">User Add</a><br><br>
        <h1>User Details</h1>
        <form method="post">
            UserName: <input type="text" name="name"><br><br>
            Password: <input type="password" name="pass"><br><br>
            Gender: <input type="radio" name="gender" value="male">Male
            <input type="radio" name="gender" value="female">Female<br><br>
            Email: <input type="email" name="email"><br><br>
            DOB: <input type="date" name="dob"><br><br>
            Address: <input type="text" name="address"><br><br>
            City: <select name="city">
                <option value="dhar">Dhar</option>
                <option value="indore">Indore</option>
                <option value="bhopal">Bhopal</option>
                <option value="dewas">Dewas</option>
                <option value="ratlam">Ratlam</option>
                <option value="mhow">Mhow</option>
            </select><br><br>
            <input type="submit">
        </form>
    </body>
</html>