<!DOCTYPE html>
<html>
  <head>
      <style>
          .h1{
              background-color: black;
              color: white;
          }
      </style>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="h1">File Upload Using Multer</h1>
      <a href="single">Single File Upload</a> |
<a href="multiple">Multiple File Upload</a>
    {{{body}}}
  </body>
</html>
